<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<h1 class="w3-margin w3-jumbo">START PAGE</h1>
  <p class="w3-xlarge">Employee Information</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>